# Git
.git
.github

# Python
__pycache__/
*.pyc
.pytest_cache/

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Logs
logs/

# Uploaded files
storage/

# IDE
.vscode/
.idea/

# Coverage
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db